In [ ]:
# variable naming rules
'''
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
'''

abc$def = 5

In [ ]:
_abc = 'syu'

In [ ]:
9abc = 5

In [ ]:
var1= input("enter the number again")
print (var1)

In [ ]:
# is used to comment

# String - str
# Integer - int
# Float  = float
# Boolean - bool

In [ ]:

# Numeric datatypes 
i =1 # int
i = -5
num = 5.2 # float

In [ ]:
i = -6.5
print (i)
type(i)

In [ ]:
x = "Harry"  * 6

In [ ]:
print (x)

In [ ]:
# string datatypes
name = 'python language'
p= 0 
y =1
t =2
h= 3 
o = 4
n =5
print (name[3])
print (name[2])
print (name[-4])
print (name[2:5]) # slicing
print (name[:])

In [ ]:
var1 = "python"
var1[5]

In [ ]:
var1 = 6
type(var1)

In [ ]:
# p  y  t  h  o  n
  0  1  2  3  4  5
  -6 -5 -4 -3 -2 -1

In [ ]:
name = "python"
name[-4:-2] # slicing

In [ ]:
name[3]

In [ ]:
name[-3]

In [ ]:
name = 'python language'
print (name)

In [ ]:
a = True

In [ ]:
type(1236) # type of variable

In [1]:
#function definition 
def sum2():
    print (2 +3)

In [2]:
# function calling
sum2()

# User defined functions # ex:sum
# In-built functions ex: upper

5

In [4]:
print ("pythonabcdef".upper())# Changes string to uppercase # PYTHON
print ("pYthonbBCD".lower())# Changes string to lowercase # python
print ("PYTHON".isupper())# Checks if string is uppercase True
print ("pythYTon".islower())# Checks if string is lowercase True

PYTHONABCDEF
pythonbbcd
True
False

In [ ]:
type()

In [6]:
# The replace() method replaces a string with another string
print ("python".replace('n','a'))# ya

pythoa

In [10]:
#The split() method splits the string into substrings if it finds instances of the separator.
print ("py,th-on pychamp".split(' '))  #

['py,th-on', 'pychamp']

In [12]:
# Returns the number of times a specified value occurs in a string
print ("pythpontp".count('p'))

3

In [14]:
#Check if all the characters in the text are letters
'python'.isalpha()

True

In [15]:
#The strip() method removes any whitespace from the beginning or the end

'    python    coding      '.strip()

'python    coding'

In [18]:
#Searches the string for a specified value and returns the position of where it was found
'Good Morning welcome to python world'.find('ng')

10

In [20]:
len('python  ')

8

In [28]:
'''
List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. 
All the items in a list do not need to be of the same type.
Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets [ ].
Lists are mutable, meaning, the value of elements of a list can be altered.
'''
a =   [1, 2.2, 'python']
a = [1,"abc",'python']
#index  0   1     2
#a[2] = 4
print(a)

[1, 'abc', 'python']

In [29]:
a[2]

'python'

In [30]:
a

[1, 'abc', 'python']

In [31]:
a[2] = "jupyter"

In [32]:
a

[1, 'abc', 'jupyter']

In [35]:
#Append
a.append("abc")
print (a)

[1, 'abc', 'jupyter', 7, 7, 'abc']

In [36]:
a[3]

7

In [38]:
k = '[1, abc'
type (k)

str

In [39]:
k[2]

','

In [40]:
# Remove an item
a.remove(1)

In [41]:
a

['abc', 'jupyter', 7, 7, 'abc']

In [42]:
a.remove('jupyter')

In [43]:
a

['abc', 7, 7, 'abc']

In [46]:
#Insert an item at a given position. The first argument is the index of the element
a.insert(2,"defin")

In [47]:
a

['abc', 7, 'defin', 'def', 7, 'abc']

In [48]:
#Return zero-based index in the list of the first item whose value is equal to x
a.index('abc')

0

In [49]:
# Return a shallow copy of the list. Equivalent to a[:].
var1 = a.copy()

In [ ]:
var1.insert(6,'def')

In [50]:
var1

['abc', 7, 'defin', 'def', 7, 'abc']

In [51]:
a.append("rty")

In [52]:
a

['abc', 7, 'defin', 'def', 7, 'abc', 'rty']

In [ ]:
var1

In [53]:
var2 = ['grapes','apple','watermelon','banana']

In [54]:
type(var1)

list

In [55]:
var2.sort()

In [56]:
print (var2)

['apple', 'banana', 'grapes', 'watermelon']

In [57]:
nums = [4,6,3,8,1]
nums.sort()

In [58]:
nums

[1, 3, 4, 6, 8]

In [ ]:
k = var2.remove('banana')

In [ ]:
var2

In [ ]:
a[:10]

In [ ]:
a[10]

In [1]:
# creating list of lists
list_of_chars = ['a', 'b', 'c']
list_of_numbers = [1, 2, 3]
mixed_list = [list_of_chars, list_of_numbers]
#mixed_list[0][1]

In [2]:
mixed_list

[['a', 'b', 'c'], [1, 2, 3]]

In [ ]:
[['a', 'b', 'c'], [1, 2, 3]]
     0                1

In [3]:
mixed_list[0][1]

'b'

In [ ]:
'''
A tuple is a collection which is ordered and unchangeable. In Python tuples are written with
round brackets.
The Tuples have following properties:
- We cannot change values in a tuple.
- We cannot remove items in a tuple.
'''
t = (5,'program', 1+3j)

# t[1] = 'program'
print("t[1] = ", t[1])

# t[0:3] = (5, 'program', (1+3j))
print("t[0:3] = ", t[0:3])

# Generates error
# Tuples are immutable
#t[0] = 10

In [13]:
a = ('a','b','c','d',1,2,3)
#    0   1   2    3  

'''
start = 0 (default = 0)
stop = 2 (default = length of the tuple )
step = 1 (default = 1)
'''
a[0:2]

('a', 'b')

In [7]:
a[2] = 7

TypeError: 'tuple' object does not support item assignment

In [ ]:
t[2] = 5

In [ ]:
type(t)

In [16]:
'''
Set is an unordered collection of unique items. 
Set is defined by values separated by comma inside braces { }. 
Items in a set are not ordered.
Since, set are unordered collection, indexing has no meaning. Hence, the slicing operator [] does not work.
'''
a = {5,2,3,1,4,5,4,6,6}

# printing set variable
print("a = ", a)

# data type of variable a
print(type(a))

a =  {1, 2, 3, 4, 5, 6}
<class 'set'>

TypeError: 'set' object is not subscriptable

In [26]:
'''
Dictionary is an unordered collection of key-value pairs.
It is generally used when we have a huge amount of data. 
Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.
In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. 
Key and value can be of any type.
'''

d = {'Apple':'seb','grapes':'angoor','banana':'kela'}
type(d)
print (d)

{'Apple': 'seb', 'grapes': 'angoor', 'banana': 'kela'}

In [29]:
d['Apple']

'seb'

In [ ]:
d = {1:'def','abc':2,7:'ghi'} # 1 is key , def= value
print(type(d))

print("d[7] = ", d[7]);

#print("d['key'] = ", d['key']);

# Generates error
#print("d[2] = ", d[2]);

In [30]:
# Type casting
a ='5'
b = int(a)
print (type(b))
b

<class 'int'>

5

In [ ]:
a="5"
type(a)
b = int(a)
type(b)

In [ ]:
# variable naming rules
'''
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
'''

In [36]:
abc_123=  'syu'

In [32]:
abc_def = 5

In [ ]:
var1= input("enter the number again")
print (var1)

In [39]:
_78 = 45